# Titanic classification

In this document, we

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
%load_ext autoreload
%autoreload 2

## Let's see the data

In [22]:
data_train = pd.read_csv('../input/titanic/train.csv')
target = 'Survived'
features = np.setdiff1d(data_train.columns.tolist(), target)

data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Some features seems irelevant and not usefull for prediction: `PassengerId`, `Name` and `Ticket`. We should remove them from the dataset.

In [24]:
drop_features = ['PassengerId', 'Name', 'Ticket']
data_train = data_train.drop(drop_features, axis=1)

In [25]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.7+ KB

As we can see there is lot of missing values for the features `Age` and `Cabin`. Before doing some ML, we must take care of the NaNs.

In [10]:
import sys
sys.path.append('../script/')
from functions import get_catecorials, get_dummies

In [16]:
categorical_features = get_catecorials(data_train, target)
data_categorical = data_train[categorical_features]
data_categorical

,Cabin,Embarked,Name,Sex,Ticket
0,NaN,S,"Braund, Mr. Owen Harris",male,A/5 21171
1,C85,C,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599
2,NaN,S,"Heikkinen, Miss. Laina",female,STON/O2. 3101282
3,C123,S,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803
4,NaN,S,"Allen, Mr. William Henry",male,373450
5,NaN,Q,"Moran, Mr. James",male,330877
6,E46,S,"McCarthy, Mr. Timothy J",male,17463
7,NaN,S,"Palsson, Master. Gosta Leonard",male,349909
8,NaN,S,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,347742
9,NaN,C,"Nasser, Mrs. Nicholas (Adele Achem)",female,237736
10,G6,S,"Sandstrom, Miss. Marguerite Rut",female,PP 9549
11,C103,S,"Bonnell, Miss. Elizabeth",female,113783
12,NaN,S,"Saundercock, Mr. William Henry",male,A/5. 2151
13,NaN,S,"Andersson, Mr. Anders Johan",male,347082
14,NaN,S,"Vestrom, Miss. Hulda Amanda Adolfina",female,350406
15,NaN,S,"Hewlett, Mrs. (Mary D Kingcome)",female,248706
16,NaN,Q,"Rice, Master. Eugene",male,382652
17,NaN,S,"Williams, Mr. Charles Eugene",male,244373
18,NaN,S,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,345763
19,NaN,C,"Masselmani, Mrs. Fatima",female,2649
20,NaN,S,"Fynney, Mr. Joseph J",male,239865
21,D56,S,"Beesley, Mr. Lawrence",male,248698
22,NaN,Q,"McGowan, Miss. Anna ""Annie""",female,330923
23,A6,S,"Sloper, Mr. William Thompson",male,113788
24,NaN,S,"Palsson, Miss. Torborg Danira",female,349909
25,NaN,S,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,347077
26,NaN,C,"Emir, Mr. Farred Chehab",male,2631
27,C23 C25 C27,S,"Fortune, Mr. Charles Alexander",male,19950
28,NaN,Q,"O'Dwyer, Miss. Ellen ""Nellie""",female,330959
29,NaN,S,"Todoroff, Mr. Lalio",male,349216
...,...,...,...,...,...
861,NaN,S,"Giles, Mr. Frederick Edward",male,28134
862,D17,S,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,17466
863,NaN,S,"Sage, Miss. Dorothy Edith ""Dolly""",female,CA. 2343
864,NaN,S,"Gill, Mr. John William",male,233866
865,NaN,S,"Bystrom, Mrs. (Karolina)",female,236852
866,NaN,C,"Duran y More, Miss. Asuncion",female,SC/PARIS 2149
867,A24,S,"Roebling, Mr. Washington Augustus II",male,PC 17590
868,NaN,S,"van Melkebeke, Mr. Philemon",male,345777
869,NaN,S,"Johnson, Master. Harold Theodor",male,347742
870,NaN,S,"Balkic, Mr. Cerin",male,349248
871,D35,S,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,11751
872,B51 B53 B55,S,"Carlsson, Mr. Frans Olof",male,695
873,NaN,S,"Vander Cruyssen, Mr. Victor",male,345765
874,NaN,C,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,P/PP 3381
875,NaN,C,"Najib, Miss. Adele Kiamie ""Jane""",female,2667
876,NaN,S,"Gustafsson, Mr. Alfred Ossian",male,7534
877,NaN,S,"Petroff, Mr. Nedelio",male,349212
878,NaN,S,"Laleff, Mr. Kristo",male,349217
879,C50,C,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,11767
880,NaN,S,"Shelley, Mrs. William (Imanita Parrish Hall)",female,230433
881,NaN,S,"Markun, Mr. Johann",male,349257
882,NaN,S,"Dahlberg, Miss. Gerda Ulrika",female,7552
883,NaN,S,"Banfield, Mr. Frederick James",male,C.A./SOTON 34068
884,NaN,S,"Sutehall, Mr. Henry Jr",male,SOTON/OQ 392076
885,NaN,Q,"Rice, Mrs. William (Margaret Norton)",female,382652
886,NaN,S,"Montvila, Rev. Juozas",male,211536
887,B42,S,"Graham, Miss. Margaret Edith",female,112053
888,NaN,S,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607
889,C148,C,"Behr, Mr. Karl Howell",male,111369
890,NaN,Q,"Dooley, Mr. Patrick",male,370376